'scopeName': 'source.kai'
'name': 'Kaitavaara Script'
'fileTypes': ['kai', 'kai.txt']

'patterns' : [
  {
#multi-line comments (Ex.: /*...*/)
    'begin' : '['
    'beginCaptures':
        '0':
            'name': 'punctuation.definition.block_comment.begin.kai'
    'end' : ']'
    'endCaptures':
        '0':
            'name': 'punctuation.definition.block_comment.end.kai'
    'name': 'block_comment.kai'
  },
#line comment (Ex.: //... until newline)
  {
    'begin' : '#'
    'end' : '\n'
    'name' : 'line_comment.kai'
  },
#labels (:example)
  {
    'match' : ':\\w+'
    'name' : 'label.kai'
  }
#instructions
  {
    'match' : '\\b(SAY|AUTO|SIZE|MOVE|GAP|SHOW|ANIM|UANIM|FRAME|CHOOSE|SHAW|GOTO|CHECK|SHAWCHECK|LEAVE|MENU)\\b'
    'name' : 'instruction.kai'
  },
]
